.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Bo tròn ảnh */
  object-fit: cover;
}
.info {
  flex: 1;
  padding-right: 20px;
}

.avatar {
  flex-shrink: 0;
}
